@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/medias';

%default-square {
  border-radius: 0.2rem;
  content: '';
  display: block;
  height: 1rem;
  margin-right: 3px;
  width: 1rem;
  z-index: -1;
}

.available,
.unavailable,
.selected {
  font-size: 0.8rem;
}

.available::before {
  background: $success;
  @extend %default-square;
}

.unavailable::before {
  background-color: $gray;
  @extend %default-square;
}

.selected::before {
  background-color: $blue;
  @extend %default-square;
}
