@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/medias';

.information {
  line-height: 1.2rem;
  span{
    font-weight: $font-weight-semibold;
  }
}

@media (max-width: $tablet) {
  .buttons {
    justify-content: flex-end;
    height: 180px !important;
  }
}

@media (max-width: $cellphone) {
  .buttons {
    justify-content: flex-end;
  }
}