.customer-section {
    
    .customer-input {
        width: 300px !important; 
    }
    .customer-actions {
        display: flex;
        text-align: center;
        flex-direction: column !important;
        width: 300px;
    }

    .Link {
        text-decoration: none;
    }
    
}
