.customer-section {
    
    .customer-input {
        width: 312px !important; 
    }
    .customer-actions {
        display: flex;
        text-align: center;
        flex-direction: column !important;
        width: 312px;
    }

    .Link {
        text-decoration: none;
    }
    
}

.right-container-title{
    h2 {
        letter-spacing: 10px;
    }
}
