@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/medias';

.admin {
  gap: 25px;
  height: calc(100% - 7.5rem);
  justify-content: center;
  .admin-form {
    gap: 10px;
  }
  .admin-actions {
    flex-wrap: wrap;
    gap: 10px;
    
    .btn {
      min-width: 228px;
    }
  }
}


@media (max-width: $cellphone) {
  .admin {
    height: unset;
  }
}
