@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/medias";

.menu {
    background-color: $dark;
    .logo {
        max-width: 300px;
    }
}

@media (max-width: $desktop) {
    .menu {
        .logo {
            max-width: 280px;
        }
    }
}

@media (max-width: $tablet) {
    .menu {
        .logo {
            max-width: 250px;
        }
    }
}

@media (max-width: $tablet-sm) {
    .menu {
        .logo {
            max-width: 280px;
        }
    }
}

@media (max-width: $cellphone) {
    .menu {
        .logo {
            max-width: 200px;
        }
    }
}