@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/medias';

.iparking-input {
  background-color: $gray;
  border-radius: 40px;
}

.iparking-input:focus {
  outline: $orange 1px solid;
  border-color: none;
  box-shadow: none;
  border: none;
  background-color: $light-gray;
}

.main-container {
  min-height: 100vh;
}

.btn-outline-dark {
  border-color: $dark;
  border-radius: 40px !important;
  color: $dark;
}

.btn-outline-dark:hover {
  background-color: $dark;
  color: #fff;
  outline: $dark solid 1px;
}

.btn-outline-primary {
  border-color: $orange;
  border-radius: 40px !important;
  color: $orange;
}

.btn-outline-primary:focus,
.btn-outline-dark:focus {
  box-shadow: none;
}

.btn-outline-primary:hover {
  background-color: $orange;
  border: 1px solid $orange;
  color: #fff;
  outline: $orange solid 1px;
}

.btn-outline-primary:active {
  background-color: $orange;
  border: 1px solid $orange;
  box-shadow: none !important;
  outline: none !important;
}

.btn-outline-dark:active {
  background-color: $dark;

  box-shadow: none !important;
  outline: none !important;
}

.primary {
  color: $dark;
  text-decoration: none;
}

.primary:hover {
  color: $orange;
}

.text-secondary {
  color: $orange !important;
}

.primary-bg {
  background-color: $dark;
}

.text-light-gray {
  color: $light-gray;
}

.lot {
  font-size: 64px;
  font-weight: $font-weight-semibold;
}

.min-width-btn {
  min-width: 228px;
}

.customer-actions {
  display: flex;
  text-align: center;
  flex-direction: column !important;
  width: 312px !important;
}

.form-control.is-invalid {
  border-color: #e54652 !important;
}
